body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#fff;
  color:#333;
}

.hero{
  height:100vh;
  background:url("images/food1.jpg") center/cover no-repeat;
  position:relative;
}

.overlay{
  background:rgba(0,0,0,0.65);
  height:100%;
  color:#fff;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.overlay h1{
  font-size:50px;
  color:#d4af37;
}

.btn{
  background:#d4af37;
  color:#000;
  padding:12px 25px;
  margin:10px;
  text-decoration:none;
  border-radius:30px;
  font-weight:bold;
}

.whatsapp{
  background:#25D366;
}

.section{
  padding:60px 20px;
  text-align:center;
}

.dark{
  background:#0b3d2e;
  color:#fff;
}

.about{
  max-width:700px;
  margin:auto;
}

.menu{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:20px;
}

.card{
  background:#fff;
  color:#000;
  width:280px;
  border-radius:15px;
  overflow:hidden;
}

.card img{
  width:100%;
  height:180px;
  object-fit:cover;
}

.card h3{
  color:#0b3d2e;
}

.features{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:15px;
}

.features div{
  background:#d4af37;
  padding:15px 20px;
  border-radius:30px;
  font-weight:bold;
}

footer{
  background:#000;
  color:#fff;
  text-align:center;
  padding:15px;
}

.whatsapp-float{
  position:fixed;
  bottom:20px;
  right:20px;
  background:#25D366;
  font-size:26px;
  padding:15px;
  border-radius:50%;
  text-decoration:none;
}